<f:layout name="BackendSave"/>

/**
 * Rendering of the Editform for the configuration file.
 *
 * @var array {_all}
 *   Complete access to all variables.
 */
<f:section name="main">
    <f:form id="editconfig" action="save" >
        <h1><f:translate key="editconfig.headline" /></h1>
        <table border="0" class="krexx-config">

            <tr><th colspan="4"><b><f:translate key="subhead.output" /></b></th></tr>
            <f:render section="dropdown" arguments="{config: config.disabled, options: dropdown.bool}" />
            <f:render section="input"    arguments="{config: config.iprange}" />
            <f:render section="dropdown" arguments="{config: config.skin, options: dropdown.skins}" />
            <f:render section="dropdown" arguments="{config: config.destination, options: dropdown.destination}" />
            <f:render section="input"    arguments="{config: config.maxfiles}" />
            <tr><td colspan="4">&nbsp;</td></tr>

            <tr><th colspan="4"><b><f:translate key="subhead.runtime" /></b></th></tr>
            <f:render section="dropdown" arguments="{config: config.detectAjax, options: dropdown.bool}" />
            <f:render section="input"    arguments="{config: config.level}" />
            <f:render section="input"    arguments="{config: config.maxCall}" />
            <f:render section="input"    arguments="{config: config.maxRuntime}" />
            <f:render section="input"    arguments="{config: config.memoryLeft}" />
            <f:render section="dropdown" arguments="{config: config.useScopeAnalysis, options: dropdown.bool}" />
            <tr><td colspan="4">&nbsp;</td></tr>

            <tr><th colspan="4"><b><f:translate key="subhead.properties" /></b></th></tr>
            <f:render section="dropdown" arguments="{config: config.analyseProtected, options: dropdown.bool}" />
            <f:render section="dropdown" arguments="{config: config.analysePrivate, options: dropdown.bool}" />
            <f:render section="dropdown" arguments="{config: config.analyseConstants, options: dropdown.bool}" />
            <f:render section="dropdown" arguments="{config: config.analyseTraversable, options: dropdown.bool}" />
            <tr><td colspan="4">&nbsp;</td></tr>

            <tr><th colspan="4"><b><f:translate key="subhead.methods" /></b></th></tr>
            <f:render section="dropdown" arguments="{config: config.analyseProtectedMethods, options: dropdown.bool}" />
            <f:render section="dropdown" arguments="{config: config.analysePrivateMethods, options: dropdown.bool}" />
            <f:render section="dropdown" arguments="{config: config.analyseGetter, options: dropdown.bool}" />
            <f:render section="input"    arguments="{config: config.debugMethods}" />
            <tr><td colspan="4">&nbsp;</td></tr>

            <tr><th colspan="4"><b><f:translate key="subhead.pruneOutput" /></b></th></tr>
            <f:render section="input"    arguments="{config: config.maxStepNumber}" />
            <f:render section="input"    arguments="{config: config.arrayCountLimit}" />

        </table>

    </f:form>
</f:section>

/**
 * Rendering of a dropdown field.
 *
 * @var string {config.name}
 *   The name of the dropdown field.
 * @var string {config.helptext}
 *   The Hepltext for the (i) icon.
 * @var array {options}
 *   The options for the dropdown.
 * @var string {config.value}
 *   The current value of the dropdown.
 * @var boolean {config.useFactorySettings}
 *   Are we using factory settings here?
 * @var string {config.group}
 *   The configuration group, where this setting belongs to.
 */
<f:section name="dropdown">
    <tr>
        <td><label for="{config.name}"><f:translate key="label.{config.name}" /></label></td>
        <td><img src="{f:uri.resource(path:'Icons/info.png')}" title="{config.helptext}" alt="{config.helptext}" /></td>
        <td><f:form.select id="{config.name}" name="{config.group}[{config.name}]" options="{options}" value="{config.value}" /></td>
        <td><f:form.checkbox id="factory.{config.name}" name="factory" checked="{config.useFactorySettings}" value="1" /><label for="factory.{config.name}"><f:translate key="factory.settings" /></label></td>
    </tr>
</f:section>

/**
 * Rendering of an input field.
 *
 * @var string {config.name}
 *   The name of the input field.
 * @var string {config.helptext}
 *   The Hepltext for the (i) icon.
 * @var string {config.value}
 *   The current value of the dropdown.
 * @var integer {config.useFactorySettings}
 *   Are we using factory settings here?
 * @var string {config.group}
 *   The configuration group, where this setting belongs to.
 */
<f:section name="input">
    <tr>
        <td><label for="{config.name}"><f:translate key="label.{config.name}" /></label></td>
        <td><img src="{f:uri.resource(path:'Icons/info.png')}" title="{config.helptext}" alt="{config.helptext}" /></td>
        <td><f:form.textfield id="{config.name}" name="{config.group}[{config.name}]"  value="{config.value}" /></td>
        <td><f:form.checkbox id="factory.{config.name}" name="factory" checked="{config.useFactorySettings}" value="1" /><label for="factory.{config.name}"><f:translate key="factory.settings" /></label></td>
    </tr>
</f:section>