{namespace krexx=Tx_Includekrexx_ViewHelpers}
<f:layout name="BackendSave"/>
<f:section name="main">
    <f:form id="editconfig" action="save" >
        <h1><f:translate key="editconfig.headline" /></h1>
        <table border="0" class="krexx-config">

            <tr>
                <th colspan="4"><b><f:translate key="subhead.output" /></b></th>
            </tr>
            <tr>
                <td><label for="disabled"><f:translate key="label.disabled" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.disabled}" alt="{data.title.disabled}" /></td>
                <td><f:form.select id="disabled" name="output[disabled]" options="{data.bool}" value="{value.output.disabled}" /></td>
                <td><f:form.checkbox id="factory.disabled" name="factory" checked="{data.factory.disabled}" value="1" /><label for="factory.disabled"><f:translate key="factory.settings" /></label></td>
            </tr>

            <tr>
                <td><label for="iprange"><f:translate key="label.iprange" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.iprange}" alt="{data.title.iprange}" /></td>
                <td><f:form.textfield id="iprange" name="output[iprange]"  value="{value.output.iprange}" /></td>
                <td><f:form.checkbox id="factory.iprange" name="factory" checked="{data.factory.iprange}" value="1" /><label for="factory.iprange"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr>
                <td><label for="skin"><f:translate key="label.skin" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.skin}" alt="{data.title.skin}" /></td>
                <td><f:form.select id="skin" name="output[skin]" options="{data.skins}" value="{value.output.skin}" /></td>
                <td><f:form.checkbox id="factory.skin" name="factory" checked="{data.factory.skin}" value="1" /><label for="factory.skin"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr>
                <td><label for="destination"><f:translate key="label.destination" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.destination}" alt="{data.title.destination}" /></td>
                <td><f:form.select id="destination" name="output[destination]" options="{data.destination}" value="{value.output.destination}" /></td>
                <td><f:form.checkbox id="factory.destination" name="factory" checked="{data.factory.destination}" value="1" /><label for="factory.destination"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr>
                <td><label for="maxfiles"><f:translate key="label.maxfiles" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.maxfiles}"  alt="{data.title.maxfiles}" /></td>
                <td><f:form.textfield id="maxfiles" name="output[maxfiles]" value="{value.output.maxfiles}" /></td>
                <td><f:form.checkbox id="factory.maxfiles" name="factory" checked="{data.factory.maxfiles}" value="1" /><label for="factory.maxfiles"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr><td colspan="4">&nbsp;</td></tr>

            <tr>
                <th colspan="4"><b><f:translate key="subhead.runtime" /></b></th>
            </tr>
            <tr>
                <td><label for="detectAjax"><f:translate key="label.detectAjax" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.detectAjax}" alt="{data.title.detectAjax}" /></td>
                <td><f:form.select id="detectAjax" name="runtime[detectAjax]" options="{data.bool}" value="{value.runtime.detectAjax}" /></td>
                <td><f:form.checkbox id="factory.detectAjax" name="factory" checked="{data.factory.detectAjax}" value="1" /><label for="factory.detectAjax"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr>
                <td><label for="level"><f:translate key="label.level" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.level}" alt="{data.title.level}" /></td>
                <td><f:form.textfield id="level" name="runtime[level]" value="{value.runtime.level}" /></td>
                <td><f:form.checkbox id="factory.level" name="factory" checked="{data.factory.level}" value="1" /><label for="factory.level"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr>
                <td><label for="maxCall"><f:translate key="label.maxCall" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.maxCall}" alt="{data.title.maxCall}" /></td>
                <td><f:form.textfield id="maxCall" name="runtime[maxCall]" value="{value.runtime.maxCall}" /></td>
                <td><f:form.checkbox id="factory.maxCall" name="factory" checked="{data.factory.maxCall}" value="1" /><label for="factory.maxCall"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr>
                <td><label for="memoryLeft"><f:translate key="label.memoryLeft" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.memoryLeft}" alt="{data.title.memoryLeft}" /></td>
                <td><f:form.textfield id="memoryLeft" name="runtime[memoryLeft]" value="{value.runtime.memoryLeft}" /></td>
                <td><f:form.checkbox id="factory.memoryLeft" name="factory" checked="{data.factory.memoryLeft}" value="1" /><label for="factory.memoryLeft"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr>
                <td><label for="maxRuntime"><f:translate key="label.maxRuntime" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.maxRuntime}" alt="{data.title.maxRuntime}" /></td>
                <td><f:form.textfield id="maxRuntime" name="runtime[maxRuntime]" value="{value.runtime.maxRuntime}" /></td>
                <td><f:form.checkbox id="factory.maxRuntime" name="factory" checked="{data.factory.maxRuntime}" value="1" /><label for="factory.maxRuntime"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr>
                <td><label for="useScopeAnalysis"><f:translate key="label.useScopeAnalysis" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.useScopeAnalysis}" alt="{data.title.useScopeAnalysis}" /></td>
                <td><f:form.select id="useScopeAnalysis" name="runtime[useScopeAnalysis]" options="{data.bool}" value="{value.runtime.useScopeAnalysis}" /></td>
                <td><f:form.checkbox id="factory.useScopeAnalysis" name="factory" checked="{data.factory.useScopeAnalysis}" value="1" /><label for="factory.useScopeAnalysis"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr><td colspan="4">&nbsp;</td></tr>

            <tr>
                <th colspan="4"><b><f:translate key="subhead.properties" /></b></th>
            </tr>
            <tr>
                <td><label for="analyseProtected"><f:translate key="label.analyseProtected" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.analyseProtected}" alt="{data.title.analyseProtected}" /></td>
                <td><f:form.select id="analyseProtected" name="properties[analyseProtected]" options="{data.bool}" value="{value.properties.analyseProtected}" /></td>
                <td><f:form.checkbox id="factory.analyseProtected" name="factory" checked="{data.factory.analyseProtected}" value="1" /><label for="factory.analyseProtected"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr>
                <td><label for="analysePrivate"><f:translate key="label.analysePrivate" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.analysePrivate}" alt="{data.title.analysePrivate}" /></td>
                <td><f:form.select id="analysePrivate" name="properties[analysePrivate]" options="{data.bool}" value="{value.properties.analysePrivate}" /></td>
                <td><f:form.checkbox id="factory.analysePrivate" name="factory" checked="{data.factory.analysePrivate}" value="1" /><label for="factory.analysePrivate"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr>
                <td><label for="analyseConstants"><f:translate key="label.analyseConstants" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.analyseConstants}" alt="{data.title.analyseConstants}" /></td>
                <td><f:form.select id="analyseConstants" name="properties[analyseConstants]" options="{data.bool}" value="{value.properties.analyseConstants}" /></td>
                <td><f:form.checkbox id="factory.analyseConstants" name="factory" checked="{data.factory.analyseConstants}" value="1" /><label for="factory.analyseConstants"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr>
                <td><label for="analyseTraversable"><f:translate key="label.analyseTraversable" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.analyseTraversable}" alt="{data.title.analyseTraversable}" /></td>
                <td><f:form.select  id="analyseTraversable" name="properties[analyseTraversable]" options="{data.bool}" value="{value.properties.analyseTraversable}" /></td>
                <td><f:form.checkbox id="factory.analyseTraversable" name="factory" checked="{data.factory.analyseTraversable}" value="1" /><label for="factory.analyseTraversable"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr><td colspan="4">&nbsp;</td></tr>

            <tr>
                <th colspan="4"><b><f:translate key="subhead.methods" /></b></th>
            </tr>
            <tr>
                <td><label for="analyseProtectedMethods"><f:translate key="label.analyseProtectedMethods" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.analyseProtectedMethods}"  alt="{data.title.analyseProtectedMethods}" /></td>
                <td><f:form.select id="analyseProtectedMethods" name="methods[analyseProtectedMethods]" options="{data.bool}" value="{value.methods.analyseProtectedMethods}" /></td>
                <td><f:form.checkbox id="factory.analyseProtectedMethods" name="factory" checked="{data.factory.analyseProtectedMethods}" value="1" /><label for="factory.analyseProtectedMethods"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr>
                <td><label for="analysePrivateMethods"><f:translate key="label.analysePrivateMethods" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.analysePrivateMethods}"  alt="{data.title.analysePrivateMethods}" /></td>
                <td><f:form.select id="analysePrivateMethods" name="methods[analysePrivateMethods]" options="{data.bool}" value="{value.methods.analysePrivateMethods}" /></td>
                <td><f:form.checkbox id="factory.analysePrivateMethods" name="factory" checked="{data.factory.analysePrivateMethods}" value="1" /><label for="factory.analysePrivateMethods"><f:translate key="factory.settings" /></label></td>
            </tr>


            <tr>
                <td><label for="analyseGetter"><f:translate key="label.analyseGetter" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.analyseGetter}"  alt="{data.title.analyseGetter}" /></td>
                <td><f:form.select id="analyseGetter" name="methods[analyseGetter]" options="{data.bool}" value="{value.methods.analyseGetter}" /></td>
                <td><f:form.checkbox id="factory.analyseGetter" name="factory" checked="{data.factory.analyseGetter}" value="1" /><label for="factory.analyseGetter"><f:translate key="factory.settings" /></label></td>
            </tr>


            <tr>
                <td><label for="debugMethods"><f:translate key="label.debugMethods" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.debugMethods}" alt="{data.title.debugMethods}" /></td>
                <td><f:form.textfield id="debugMethods" name="methods[debugMethods]" value="{value.methods.debugMethods}" /></td>
                <td><f:form.checkbox id="factory.debugMethods" name="factory" checked="{data.factory.debugMethods}" value="1" /><label for="factory.debugMethods"><f:translate key="factory.settings" /></label></td>
            </tr>
            <tr><td colspan="4">&nbsp;</td></tr>

            <tr>
                <th colspan="4"><b><f:translate key="subhead.backtraceAndError" /></b></th>
            </tr>
            <tr>
                <td><label for="registerAutomatically"><f:translate key="label.registerAutomatically" /></label></td>
                <td><f:image src="{f:uri.resource(path:'Icons/info.png')}" title="{data.title.registerAutomatically}" alt="{data.title.registerAutomatically}" /></td>
                <td><f:form.select id="registerAutomatically" name="backtraceAndError[registerAutomatically]" options="{data.bool}" value="{value.backtraceAndError.registerAutomatically}" /></td>
                <td><f:form.checkbox id="factory.registerAutomatically" name="factory" checked="{data.factory.registerAutomatically}" value="1" /><label for="factory.registerAutomatically"><f:translate key="factory.settings" /></label></td>
            </tr>
        </table>

    </f:form>
</f:section>