<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

/**
 * Renders the configuration form, for the frontend editing of the settings.
 *
 * @var array {_all}
 *   Complete access to all variables.
 */
<f:section name="main">

    <h3><f:translate key="editfeconfig.help.headline" /></h3>
    <f:translate key="full" /><f:translate key="full.help" /><br />
    <f:translate key="display" /><f:translate key="display.help" /><br />
    <f:translate key="none" /><f:translate key="none.help" /><br />


    <f:render section="table" arguments="{headline: 'subhead.output', payload: 'output', formConfig: formConfig}" />
    <f:render section="table" arguments="{headline: 'subhead.behavior', payload: 'behavior', formConfig: formConfig}" />
    <f:render section="table" arguments="{headline: 'subhead.pruneOutput', payload: 'pruneOutput', formConfig: formConfig}" />
    <f:render section="table" arguments="{headline: 'subhead.properties', payload: 'properties', formConfig: formConfig}" />
    <f:render section="table" arguments="{headline: 'subhead.methods', payload: 'methods', formConfig: formConfig}" />
    <f:render section="table" arguments="{headline: 'subhead.emergencystop', payload: 'emergencystop', formConfig: formConfig}" />
</f:section>

/**
 * Configuration payload for the table.
 *
 * @var array {formConfig}
 *   The configuration for the payload.
 */
<f:section name="output">
    <f:render section="dropdown" arguments="{formConfig.disabled}" />
    <f:render section="noedit"   arguments="{formConfig.iprange}" />
    <f:render section="dropdown" arguments="{formConfig.detectAjax}" />
</f:section>
<f:section name="behavior">
    <f:render section="dropdown" arguments="{formConfig.skin}" />
    <f:render section="noedit"   arguments="{formConfig.destination}" />
    <f:render section="noedit"   arguments="{formConfig.maxfiles}" />
    <f:render section="dropdown" arguments="{formConfig.useScopeAnalysis}" />
</f:section>
<f:section name="pruneOutput">
    <f:render section="dropdown" arguments="{formConfig.maxStepNumber}" />
    <f:render section="dropdown" arguments="{formConfig.arrayCountLimit}" />
    <f:render section="dropdown" arguments="{formConfig.level}" />
</f:section>
<f:section name="properties">
    <f:render section="dropdown" arguments="{formConfig.analyseProtected}" />
    <f:render section="dropdown" arguments="{formConfig.analysePrivate}" />
    <f:render section="dropdown" arguments="{formConfig.analyseScalar}" />
    <f:render section="dropdown" arguments="{formConfig.analyseTraversable}" />
</f:section>
<f:section name="methods">
    <f:render section="dropdown" arguments="{formConfig.analyseProtectedMethods}" />
    <f:render section="dropdown" arguments="{formConfig.analysePrivateMethods}" />
    <f:render section="dropdown" arguments="{formConfig.analyseGetter}" />
    <f:render section="noedit"   arguments="{formConfig.debugMethods}" />
</f:section>
<f:section name="emergencystop">
    <f:render section="dropdown" arguments="{formConfig.maxCall}" />
    <f:render section="dropdown" arguments="{formConfig.memoryLeft}" />
    <f:render section="dropdown" arguments="{formConfig.maxRuntime}" />
</f:section>

/**
 * Renders a configuration table.
 *
 * @var string {headline}
 *   The headline aboce the table
 * @var string {payload}
 *   The section name with the payload for the table.
 * @var array {config}
 *   The configuration for the payload.
 */
<f:section name="table">
    <h3><f:translate key="{headline}" /></h3>
    <div class="table-wrapper formtable">
        <table border="0" class="krexx-config">
            <thead>
                <tr>
                    <th class="description"><f:translate key="table.desc" /></th>
                    <th class="value"><f:translate key="table.value" /></th>
                    <th class="commands"></th>
                </tr>
            </thead>
            <tbody>
                <f:render section="{payload}" arguments="{formConfig: formConfig}" />
            </tbody>
        </table>
    </div>
</f:section>



/**
 * Renders a dropdown with the possible values.
 *
 * @var string {name}
 *   The name of the dropdown.
 * @var array {options}
 *   The options for the dropdown.
 * @var string {value}
 *   The current value of the dropdown.
 * @var boolean {useFactorySettings}
 *   Are we using factory settings here?
 */
<f:section name="dropdown">
    <tr>
        <td class="description"><label for="form{name}"><f:translate key="label.{name}" /></label></td>
        <td class="value">
            <div class="chevron"><f:form.select additionalAttributes="{autocomplete: 'off'}" id="form{name}" property="form{name}" options="{options}" value="{value}" /></div>
            <div id="form{name}-fallback" class="fallback">{fallback}</div>
        </td>
        <td class="commands">
            <label class="button" for="factory.form{name}">
                <f:form.checkbox class="switch" additionalAttributes="{autocomplete: 'off'}" id="factory.form{name}" property="factory" checked="{useFactorySettings}" value="1" />
                <span class="switch" ></span>
            </label>
        </td>
    </tr>
</f:section>

/**
 * Renders the "This setting is not editable on the frontend." part.
 *
 * @var string {name}
 *   The name of the setting, used for the language key.
 */
<f:section name="noedit">
    <tr><td><f:translate key="label.{name}" /></td><td colspan="2"><f:translate key="logging.noteditable"/></td></tr>
</f:section>

</html>