<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

/**
 * Renders the configuration help text.
 *
 * @var array {_all}
 *   Complete access to all variables.
 */
<f:section name="main">

    <h2><f:translate key="usage.headline" /></h2>
    <f:render section="codeblock" arguments="{name: 'calling', content: 'krexx($myObject);'}" />

    <f:translate key="usage.features" />
    <ul>
        <li><f:translate key="usage.features.1" /></li>
        <li><f:translate key="usage.features.2" /></li>
        <li><f:translate key="usage.features.3" /></li>
        <li><f:translate key="usage.features.4" /></li>
        <li><f:translate key="usage.features.5" /></li>
    </ul>
    <f:translate key="usage.features.simple" />

    <hr/>
    <f:render section="codeblock" arguments="{name: 'moment', content: '\kreXX::timerMoment($string);'}" />
    <hr/>
    <f:render section="codeblock" arguments="{name: 'timerEnd', content: '\kreXX::timerEnd();'}" />
    <hr/>
    <f:render section="codeblock" arguments="{name: 'backtrace', content: '\kreXX::backtrace();'}" />
    <hr/>
    <f:render section="codeblock" arguments="{name: 'registerFatal', content: '\krexx::registerFatal();'}" />
    <hr/>
    <f:render section="codeblock" arguments="{name: 'unregisterFatal', content: '\krexx::unregisterFatal();'}" />
    <br /><br />

    <h2><f:translate key="usage.headline.fluid" /></h2>
    <f:render section="codeblock"
              arguments="{name: 'fluidnamespace', content: '&#123;namespace krexx=Brainworxx\Includekrexx\ViewHelpers&#125;
&lt;html xmlns:f=&quot;http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers&quot;
      xmlns:krexx=&quot;http://typo3.org/ns/Brainworxx/Includekrexx/ViewHelpers&quot;
      data-namespace-typo3-fluid=&quot;true&quot;&gt;'}" />
    <hr/>
    <f:render section="codeblock" arguments="{name: 'fluidnormal', content: '&lt;krexx:debug&gt;&#123;_all&#125;&lt;/krexx:debug&gt;'}" />
    <hr/>
    <f:render section="codeblock" arguments="{name: 'fluidvalue', content: '&lt;krexx:debug value=&quot;&#123;my: &#x27;value&#x27;, to: &#x27;analyse&#x27;&#125;&quot; /&gt;'}" />
    <br /><br />

    <h2><f:translate key="usage.links.headline" /></h2>
    <a class="krexx-link" target="_blank" href="http://docs.typo3.org/typo3cms/extensions/includekrexx/"><f:translate key="usage.links.typo3" /></a><br/>
    <a class="krexx-link" target="_blank" href="https://github.com/brainworxx/kreXX/wiki"><f:translate key="usage.links.github" /></a>

</f:section>

/**
 * Renders a code block.
 *
 * @var string {name}
 *   The name of the code block, used for the translation label.
 * @var string {content}
 *   The content of the code block.
 */
<f:section name="codeblock">
    <f:translate key="usage.label.{name}" />
    <div class="codeblock">
        <pre><code><f:format.html parseFuncTSPath="">{content}</f:format.html></code></pre>
    </div>
</f:section>

</html>