<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

/**
 * Renders the configuration help text.
 *
 * The things you do to make fluid do what you want . . .
 *
 * @var array {_all}
 *   Complete access to all variables.
 */
<f:section name="main"><f:spaceless>

    <h2><f:translate key="usage.headline" /></h2>
    <f:render section="codeblock-start" arguments="{name: 'calling'}" />krexx($myObject);
// forced logging
krexxlog($myObject);<f:render section="codeblock-end"/>

    <f:translate key="usage.features" />
    <ul>
        <li><f:translate key="usage.features.1" /></li>
        <li><f:translate key="usage.features.2" /></li>
        <li><f:translate key="usage.features.3" /></li>
        <li><f:translate key="usage.features.4" /></li>
        <li><f:translate key="usage.features.5" /></li>
    </ul>
    <f:translate key="usage.features.simple" />

    <div class="spacer"></div>
    <f:render section="codeblock-start" arguments="{name: 'moment'}"/>\Krexx::timerMoment($string);<f:render section="codeblock-end"/>
    <div class="spacer"></div>
    <f:render section="codeblock-start" arguments="{name: 'timerEnd'}"/>\Krexx::timerEnd()
// forced logging
\Krexx::logTimerEnd();<f:render section="codeblock-end"/>

    <div class="spacer"></div>
    <f:render section="codeblock-start" arguments="{name: 'backtrace'}" />\Krexx::backtrace();
// forced logging
\Krexx::logBacktrace();<f:render section="codeblock-end"/>
    <br /><br />

    <h2><f:translate key="usage.headline.fluid" /></h2>
    <f:render section="codeblock-start" arguments="{name: 'fluidnamespace'}" />&#123;namespace krexx=Brainworxx\Includekrexx\ViewHelpers&#125;
&lt;html xmlns:f=&quot;http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers&quot;
      xmlns:krexx=&quot;http://typo3.org/ns/Brainworxx/Includekrexx/ViewHelpers&quot;
      data-namespace-typo3-fluid=&quot;true&quot;&gt;<f:render section="codeblock-end"/>

    <div class="spacer"></div>
    <f:render section="codeblock-start" arguments="{name: 'fluidnormal'}" />&lt;krexx:debug&gt;&#123;_all&#125;&lt;/krexx:debug&gt;
&lt;krexx:log&gt;&#123;_all&#125;&lt;/krexx:debug&gt;<f:render section="codeblock-end"/>

    <div class="spacer"></div>


    <f:render section="codeblock-start" arguments="{name: 'fluidvalue'}" />&lt;krexx:debug value=&quot;&#123;my: &#x27;value&#x27;, to: &#x27;analyse&#x27;&#125;&quot; /&gt;
&lt;krexx:log value=&quot;&#123;my: &#x27;value&#x27;, to: &#x27;analyse&#x27;&#125;&quot; /&gt;<f:render section="codeblock-end"/>
    <br /><br />

    <h2><f:translate key="usage.links.headline" /></h2>
    <a class="krexx-link" target="_blank" href="https://docs.typo3.org/p/brainworxx/includekrexx/master/en-us/"><f:translate key="usage.links.typo3" /></a><br/>
    <a class="krexx-link" target="_blank" href="https://github.com/brainworxx/kreXX/wiki"><f:translate key="usage.links.github" /></a>

</f:spaceless></f:section>

/**
 * Renders the start of a code block.
 *
 * @var string {name}
 *   The name of the code block, used for the translation label.
 */
<f:section name="codeblock-start"><f:translate key="usage.label.{name}" /><div class="codeblock"><pre></f:section>

/**
 * Renders the end of a codeblock
 */
<f:section name="codeblock-end"></pre></div></f:section>

</html>