<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Index"/>


/**
 * Renders the complete backend module.
 *
 * @var array {_all}
 *   Complete access to all variables.
 */
<f:section name="main">
    <div class="message-container-outer"></div>
    <div class="module krexx-backend">
        <div class="krexx-docheader">
            <button id="main-save" class="button save" value="1" title="{f:translate(key: 'save')}"><f:translate key="save"/></button>
            <div class="chevron">
                <select id="mode-switch" autocomplete="off" name="simplicity">
                    <option value="simple" selected="selected"><f:translate key="simple"/></option>
                    <option value="expert"><f:translate key="expert"/></option>
                </select>
            </div>
            <button id="clear-cookies" class="button cookies" value="1" title="{f:translate(key: 'clear.cookies')}"><f:translate key="clear.cookies"/></button>
        </div>
        <div>
            <f:flashMessages />
            <h1><f:translate key="mlang_tabs_tab"/> </h1>
            <div class="tabpanel">
                <ul class="nav-tabs" role="tablist">
                    <li class="active" data-tab="tab-1">
                        <a title="{f:translate(key:'layout.log.index')}">{f:translate(key:'layout.log.index')}</a>
                    </li>
                    <li data-tab="tab-2">
                        <a title="{f:translate(key:'layout.edit.config.file')}">{f:translate(key:'layout.edit.config.file')}</a>
                    </li>
                    <li data-tab="tab-3" class="expert">
                        <a title="{f:translate(key:'layout.edit.config.fe')}">{f:translate(key:'layout.edit.config.fe')}</a>
                    </li>
                    <li data-tab="tab-4">
                        <a title="{f:translate(key:'layout.usage.help')}">{f:translate(key:'layout.usage.help')}</a>
                    </li>
                </ul>

                <f:form id="save-form" action="save" object="{settings}" objectName="settings" name="settings" method="POST">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active"><f:render partial="Log" section="main" arguments="{_all}" /> </div>
                        <div id="tab-2" class="tab-pane" ><f:render partial="Config" section="main" arguments="{_all}"/></div>
                        <div id="tab-3" class="tab-pane" ><f:render partial="FormConfig" section="main" arguments="{_all}"/></div>
                        <div id="tab-4" class="tab-pane" ><f:render partial="Help" section="main" /></div>
                    </div>
                </f:form>
            </div>
        </div>
    </div>
</f:section>

</html>