<f:layout name="BackendSave"/>

/**
 * Renders the configuration form, for the frontend editing of the settings.
 *
 * @var array {_all}
 *   Complete access to all variables.
 */
<f:section name="main">
    <f:form id="editconfig" action="save" >
        <h1><f:translate key="editfeconfig.headline" /></h1>
        <table border="0" class="krexx-config">
            <tr>
                <th colspan="3"><b><f:translate key="editfeconfig.help.headline" /></b></th>
            </tr>
            <tr>
                <td><f:translate key="full" /></td>
                <td colspan="2"><f:translate key="full.help" /></td>
            </tr>
            <tr>
                <td><f:translate key="display" /></td>
                <td colspan="2"><f:translate key="display.help" /></td>
            </tr>
            <tr>
                <td><f:translate key="none" /></td>
                <td colspan="2"><f:translate key="none.help" /></td>
            </tr>
            <tr><td colspan="3">&nbsp;</td></tr>

            <tr><th colspan="3"><b><f:translate key="subhead.output" /></b></th></tr>
            <f:render section="dropdown" arguments="{config.disabled}" />
            <f:render section="noedit"   arguments="{config.iprange}" />
            <f:render section="dropdown" arguments="{config.skin}" />
            <f:render section="noedit"   arguments="{config.destination}" />
            <f:render section="noedit"   arguments="{config.maxfiles}" />
            <tr><td colspan="3">&nbsp;</td></tr>

            <tr><th colspan="3"><b><f:translate key="subhead.runtime" /></b></th></tr>
            <f:render section="dropdown" arguments="{config.detectAjax}" />
            <f:render section="dropdown" arguments="{config.level}" />
            <f:render section="dropdown" arguments="{config.maxCall}" />
            <f:render section="dropdown" arguments="{config.memoryLeft}" />
            <f:render section="dropdown" arguments="{config.maxRuntime}" />
            <f:render section="dropdown" arguments="{config.useScopeAnalysis}" />
            <tr><td colspan="3">&nbsp;</td></tr>

            <tr><th colspan="3"><b><f:translate key="subhead.properties" /></b></th></tr>
            <f:render section="dropdown" arguments="{config.analyseProtected}" />
            <f:render section="dropdown" arguments="{config.analysePrivate}" />
            <f:render section="dropdown" arguments="{config.analyseConstants}" />
            <f:render section="dropdown" arguments="{config.analyseTraversable}" />
            <tr><td colspan="3">&nbsp;</td></tr>

            <tr><th colspan="3"><b><f:translate key="subhead.methods" /></b></th></tr>
            <f:render section="dropdown" arguments="{config.analyseProtectedMethods}" />
            <f:render section="dropdown" arguments="{config.analysePrivateMethods}" />
            <f:render section="dropdown" arguments="{config.analyseGetter}" />
            <f:render section="noedit"   arguments="{config.debugMethods}" />
            <tr><td colspan="3">&nbsp;</td></tr>

            <tr><th colspan="3"><b><f:translate key="subhead.backtrace" /></b></th></tr>
            <f:render section="dropdown" arguments="{config.maxStepNumber}" />
            
        </table>
    </f:form>
</f:section>

/**
 * Renders a dropdown with the possible values.
 *
 * @var string {name}
 *   The name of the dropdown.
 * @var array {options}
 *   The options for the dropdown.
 * @var string {value}
 *   The current value of the dropdown.
 * @var boolean {useFactorySettings}
 *   Are we using factory settings here?
 */
<f:section name="dropdown">
    <tr>
        <td><label for="{name}"><f:translate key="label.{name}" /></label></td>
        <td><f:form.select id="{name}" name="output[{name}]" options="{options}" value="{value}" /></td>
        <td class="cbx"><f:form.checkbox id="factory.{name}" name="factory" checked="{useFactorySettings}" value="1" /><label for="factory.{name}"><f:translate key="factory.settings" /></label></td>
    </tr>
</f:section>

/**
 * Renders the "This setting is not editable on the frontend." part.
 *
 * @var string {name}
 *   The name of the setting, used for the language key.
 */
<f:section name="noedit">
    <tr><td><f:translate key="label.{name}" /></td><td colspan="2"><f:translate key="logging.noteditable"/></td></tr>
</f:section>