<phpunit bootstrap="tests/Scripts/Bootstrap.php">
    <testsuites>
        <testsuite name="krexxsuit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>