body {
  color: $black;
}

.module .module-docheader {
  display: none;
}

.module .module-body {
  padding-top: 50px !important;
}

.module-loading-indicator {
  position: fixed;
  min-height: 5px;
  width: 100%;
  z-index: 999999;
}

* {
  box-sizing: border-box;
}

.krexx-backend {

  /**
   * General stuff
   */
  .display-none {
    display: none;
  }

  .expert {
    display: none;
  }

  .expert-mode {
    .expert {
      display: table-row;
    }
  }

  .codeblock pre {
    border: 1px solid $grey-15;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: $grey-05;
    color: $black;
    margin: 0;
    max-width: 750px;
  }
}