.krexx-backend {

  .krexx-docheader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 300;
    background-color: $grey-05;
    border-bottom: 1px solid $grey-15;
    padding-left: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: margin-top .3s ease-in-out;
    transition: margin-top .3s ease-in-out;
    min-height: auto;

    .chevron {
      display: inline-block;
      vertical-align: middle;
    }

    button {
      margin-top: 7px;
      color: $black;
      background-color: $grey-05;
      border-color: $grey-15;
      padding: 0 8px 0 24px;

      &:hover {
        color: $black;
        background-color: $grey-10;
        border-color: $grey-20;
      }
    }
  }
}