.message-container-outer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 301;
  opacity: 0.8;
  max-width: 400px;
  width: 100%;

  .ajax-msg {
    float: right;
    box-shadow: var(--box-shadow);
    border: 0;
    padding: 11px;
    margin-bottom: 18px;
    border-radius: 2px;
    max-width: 400px;
    width: 100%;

    .krexx-spacer {
      height: 5px;
    }

    .text {
      display: inline-block;
      font-size: 15px;
      max-width: 343px;
    }

    &.fade {
      transition: all 0.5s;
      opacity: 0;
    }

    &.remove {
      height: 0;
      padding: 0;
      margin: 0;
    }

    .icon {
      border-radius: 20px;
      display: inline-block;
      height: 25px;
      width: 25px;
      margin-right: 10px;
      vertical-align: top;

      &::after {
        color: white;
        font-size: 15px;
        font-weight: bolder;
        margin-left: 6px;
        display: inline-block;
        margin-top: 3px;
      }
    }

    &.success {
      background-color: var(--green-success-bg);
      color: var(--white);

      .icon {
        background-color: var(--green-success-icon);

        &::after {
          content: "\2713";
        }
      }
    }

    &.error {
      background-color: var(--red-error-bg);
      color: var(--white);

      .icon {
        background-color: var(--red-error-icon);

        &::after {
          content: "\2716";
        }
      }
    }
  }
}