.krexx-backend {
  .button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid var(--grey-15);
    border-radius: 2px;
    width: 30px;
    height: 32px;
    background-color: var(--grey-10);
    vertical-align: unset;
    margin: 0;
    line-height: 25px;

    &.delete {
      background: var(--delete) no-repeat center var(--grey-10);
    }

    &.save {
      background: var(--save) no-repeat left;
      padding-left: 24px;
      width: auto;
      height: auto;
      margin: 0 5px 0 0;
      vertical-align: middle;
    }

    &.cookies {
      background: var(--cookies) no-repeat left;
      width: auto;
      height: auto;
      margin: 0 0 0 5px;
      vertical-align: middle;
      @media (max-width: 450px) {
        display: block;
        margin-top: 5px;
      }
    }

    &:hover {
      background-color: var(--grey-15);
      border-color: var(--grey-20);
    }
  }

  .chevron {
    position: relative;

    .active {
      color: var(--black);
    }

    &::after {
      content: '>';
      font: 17px "Consolas", monospace;
      color: var(--grey-20);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      right: 8px;
      top: 2px;
      padding: 0 0 2px;
      position: absolute;
      pointer-events: none;
    }
  }
}