body, a {
  color: var(--black);
}

.module {
  background-color: var(--background-color);

  .module-docheader {
    display: none;
  }

  .module-body {
    padding-top: 50px !important;
    background-color: var(--background-color);
  }
}

.module-loading-indicator {
  position: fixed;
  min-height: 5px;
  width: 100%;
  z-index: 999999;
}

* {
  box-sizing: border-box;
}

.krexx-backend {
  background-color: var(--background-color);

  /**
   * General stuff
   */
  .display-none {
    display: none;
  }

  .expert {
    display: none;
  }

  .expert-mode {
    .expert {
      display: table-row;
    }
  }

  .codeblock pre {
    border: 1px solid var(--grey-15);
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: var(--grey-05);
    color: var(--black);
    margin: 0;
    max-width: 750px;
    font-size: 12px;
    font-weight: bold;
  }

  .spacer {
    height: 10px;
  }
}