.krexx-backend {

  .krexx-docheader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 300;
    background-color: var(--grey-05);
    border-bottom: 1px solid var(--grey-15);
    padding-left: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: margin-top .3s ease-in-out;
    transition: margin-top .3s ease-in-out;
    min-height: auto;

    .chevron {
      display: inline-block;
      vertical-align: middle;
    }

    button {
      margin-top: 7px;
      color: var(--black);
      background-color: var(--grey-05);
      border-color: var(--grey-15);
      padding: 0 8px 0 24px;

      &:hover {
        color: var(--black);
        background-color: var(--grey-10);
        border-color: var(--grey-20);
      }
    }
  }
}