.krexx-backend {

  /**
   * Icon styling
   */
  .krexx-icon-wrapper {
    display: table-cell;

    .krexx-icon {
      background-repeat: no-repeat;
      margin-right: 6px;
      position: relative;
      border-radius: 2px;
      width: 28px;
      height: 30px;


      &:last-child {
        margin-bottom: 0;
      }

      &::after {
        top: -4px;
        left: 4px;
        position: absolute;
        height: 15px;
        width: 15px;
        font-size: 24px;
        content: "\26A0";
      }

      &.emergency {
        background-color: var(--emergency);
        color: var(--white);
      }

      &.alert {
        background-color: var(--alert);
        color: var(--white);
      }

      &.critical {
        background-color: var(--critical);
        color: var(--white);
      }

      &.error {
        background-color: var(--error);
      }

      &.warning {
        background-color: var(--warning);
      }

      &.info {
        background-color: var(--info);

        &::after {
          font-size: 20px;
          color: var(--white);
          content: 'i';
          left: 11px;
          top: 0;
        }
      }

      &.notice {
        background-color: var(--notice);

        &::after {
          content: 'n';
          color: white;
          left: 6px;
        }
      }

      &.debug {
        &::after {
          top: 4px;
          left: 4px;
          height: 20px;
          width: 20px;
          content: '';
          background: var(--debug) no-repeat;
        }
      }

      &.backtrace {
        &::after {
          top: 6px;
          left: 5px;
          height: 20px;
          width: 20px;
          content: '';
          background: var(--backtrace) no-repeat;
        }
      }

      &.timer {
        &::after {
          top: 5px;
          left: 4px;
          height: 20px;
          width: 20px;
          content: '';
          background: var(----timer) no-repeat;
        }
      }
    }
  }
}