.krexx-backend {
  .tooltip-hover {
    background: var(--tooltip) no-repeat center var(--grey-10);
    cursor: help;

    .toolwrapper {
      position: relative;

      .tooltip-text {
        display: none;
        position: absolute;
        background-color: var(--black);
        color: var(--grey-05);
        z-index: 1;
        padding: 8px;
        min-width: 350px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        bottom: 10px;
        text-align: left;
        right: -48px;

        &::after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 3px 0 3px;
          border-color: var(--black) transparent transparent transparent;
          content: "";
          bottom: -6px;
          position: absolute;
          right: 58px;
        }
      }

    }

    &:hover .toolwrapper .tooltip-text {
      display: block;
    }
  }
}