#TSFE_ADMIN_PANEL_FORM.typo3-kidjls9dksoje.typo3-adminPanel .typo3-adminPanel-table-cell-xx-icon {
    background-image: url(../Icons/Extension.svg);
    height: 12px;
    width: 12px;
    margin-top: 2px;
    margin-left: 5px;
}

#TSFE_ADMIN_PANEL_FORM.typo3-kidjls9dksoje.typo3-adminPanel .typo3-adminPanel-table-cell-xx-filename {
    width: 250px;
}

#TSFE_ADMIN_PANEL_FORM.typo3-kidjls9dksoje.typo3-adminPanel .typo3-adminPanel-table-cell-xx-time {
    width: 110px;
}

#TSFE_ADMIN_PANEL_FORM.typo3-kidjls9dksoje.typo3-adminPanel .typo3-adminPanel-table-cell-xx-size {
    width: 80px;
}

#TSFE_ADMIN_PANEL_FORM.typo3-kidjls9dksoje.typo3-adminPanel .typo3-adminPanel-table-cell-xx-spacer {
    background: none;
    border: none;
    height: 10px;
    display: block;
}

@media (max-width: 991px) {
    #TSFE_ADMIN_PANEL_FORM.typo3-kidjls9dksoje.typo3-adminPanel .typo3-adminPanel-table-cell-xx-time,
    #TSFE_ADMIN_PANEL_FORM.typo3-kidjls9dksoje.typo3-adminPanel .typo3-adminPanel-table-cell-xx-size {
        display: none;
    }
}

@media (max-width: 768px) {
    #TSFE_ADMIN_PANEL_FORM.typo3-kidjls9dksoje.typo3-adminPanel .typo3-adminPanel-table-cell-xx-meta {
        display: none;
    }
}