html {
    overflow: hidden;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc;
    border-right: 0 solid #ccc;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
}

ol {
    list-style: outside none decimal;
}

ul {
    list-style: outside none disc;
}

li {
    margin-left: 30px;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 20px;
}

pre {
    border: 1px solid #cacaca;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fafafb;
    color: #393939;
    margin: 0;
    width: 425px;
}

.docheader-row2-left select {
    color: #000;
}

input:disabled {
    color: #dddddd;
    border: #dddddd 1px solid;
    background-color: #fff;
}

select:disabled {
    color: #dddddd;
}

.krexx-config th {
    text-align: left;
}

.krexx-config img {
    margin: 3px;
    cursor: help;
}

a.krexx-link {
    background: url(../typo3conf/ext/includekrexx/Resources/Public/Icons/link.png) no-repeat;
    padding-left: 16px;
}

a.krexx-link:hover {
    text-decoration: underline;
}

h1 {
    text-align: left;
}

select {
    display: inline-block;
    margin: 0 0.5em 0.5em 0 !important;
    vertical-align: middle;
}

input {
    margin-right: 3px;
}

label {
    font-weight: normal;
}

.typo3-docheader-buttons {
    background-color: #dadada;
    height: 18px;
    line-height: 0;
    padding: 2px 24px;
}

.typo3-docheader-functions {
    background-color: #585858;
    height: 27px;
    padding: 0 24px;
}

td.cbx {
    width: 330px;
}

table.krexx-logs {
    text-align: left;
}

.krexx-logs td {
    padding-right: 25px;
    padding-left: 5px;
    border-top: 1px solid #dadada;
    vertical-align: top;
}

.krexx-logs th {
    padding-left: 5px;
}

table.noborder {
    vertical-align: middle;
}

.noborder td {
    border: none;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}

td.metatype {
    min-width: 200px;
}
img.delete {
    margin-top: 5px;
}