/**
 * Tabs
 */
.nav-tabs {
    border-radius: 2px 2px 0 0;
    background-color: #ededed;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    height: 31px;
}

.nav-tabs > li + li {
    margin-left: 2px;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav > li {
    position: relative;
    display: block;
}

.nav-tabs > li > a {
    margin-right: 0;
    transition: all .1s ease-in-out;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 2px 2px 0 0;
    position: relative;
    display: block;
    padding: 6px 12px;
    color: #212424;
    text-decoration: none;
}

.nav-tabs > li > a:hover {
    border-color: #d7d7d7 #d7d7d7 #ccc;
    background: #e1e0e0;
    text-decoration: none;
}

.nav-tabs > li.active {
    position: relative;
    display: block;
}

.nav-tabs > li.active > a {
    border: 1px solid #ccc;
    border-bottom-color: #fafafa;
    background-color: #fafafa;
    color: #000;
    cursor: default;
    margin-right: 0;

}

.tab-content > .tab-pane {
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
    background-color: #fafafa;

}

.tab-content > .tab-pane.active {
    height: auto;
    width: auto;
    overflow: visible;
    padding: 15px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/**
 * Help info.
 */
.codeblock pre {
    border: 1px solid #cacaca;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
    color: #393939;
    margin: 0;
    width: 525px;
}

/**
 * Edit configuration file
 */
.krexx-backend .table-wrapper {
    background-color: #fafafa;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
    border: 1px solid #ccc;
    border-radius: 2px;
    max-width: 1000px;
}

.krexx-backend table {
    width: 100%;
    max-width: 100%;

}

.krexx-backend table * {
    font-size: 12px;
}

.krexx-backend th {
    padding: 6px;
}

th.icon {
    width: 10px;
}

th.time {
    width: 110px;
}

th.size {
    width: 80px;
}

th.delete {
    width: 80px;
}

th.filename {
    width: 250px;
}

.krexx-backend td {
    padding: 6px;
}

.krexx-backend thead tr {
    background-color: #ededed;
}

.krexx-backend th {
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.krexx-backend input:disabled {
    color: #dddddd;
    border: #dddddd 1px solid;
    background-color: #fff;
}

.krexx-backend select:disabled {
    color: #dddddd;
}

.krexx-backend img {
    padding-left: 5px;
    padding-right: 5px;
}

.krexx-backend select::placeholder {
    color: #d7d7d7;
    opacity: 1;
}

.krexx-backend select,
.krexx-backend input[type=text] {
    vertical-align: top;
    line-height: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 26px;
    display: inline-block;
    padding: 4px;
    font-size: 11px;
    border-radius: 2px;
    min-width: 120px;
    color: #333;
    background-color: #fefefe;
    border: 1px solid #666;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.krexx-backend select:disabled,
.krexx-backend input[type=text]:disabled {
    border: 1px solid #bbb;
    color: #bbb;
}

.krexx-backend .chevron {
    position: relative;
}

.krexx-backend .chevron:after {
    content: '>';
    font: 17px "Consolas", monospace;
    color: #bbb;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 4px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
}

.krexx-backend .active.chevron:after {
    color: #333;
}

.krexx-backend select option {
    padding-top: 2px;
    padding-bottom: 2px;
}

.krexx-backend input[type=checkbox] {
    display: none;
}

.krexx-backend .chkwrapper {
    vertical-align: top;
    line-height: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 18px;
    display: inline-block;
    padding: 4px;
    font-size: 11px;
    border-radius: 2px;
    color: #333;
    background-color: #fefefe;
    border: 1px solid #666;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-left: 15px;
    width: 18px;
}

.krexx-backend .chkwrapper.checked {
    background-color: #79a548;
}

.krexx-backend .chkwrapper.checked::after {
    content: "\2713";
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 3px;
}

.krexx-backend label {
    line-height: 30px;
}

/**
 * Log table specific stuff
 */

.krexx-spacer {
    height: 5px;
}

table.krexx-logs tr {
    border-bottom: 1px solid #c3c3c3;
}

table.krexx-logs tr:last-child {
    border-bottom: none;
}

/**
 * Header divs
 */
.module-loading-indicator {
    position: fixed;
    min-height: 5px;
    width: 100%;
    z-index: 999999;
}

.module-docheader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 65px;
    z-index: 300;
    background-color: #eee;
    border-bottom: 1px solid #c3c3c3;
    padding: 0 24px;
    -webkit-transition: margin-top .3s ease-in-out;
    transition: margin-top .3s ease-in-out;
}

div#typo3-inner-docbody {
    padding: 0 24px 24px 24px;
    margin-top: 0;
}

.module-body {
    padding-top: 80px;
}

button {
    margin-top: 30px;
    color: #333;
    background-color: #eee;
    border-color: #bbb;
}

button:hover {
    color: #333;
    background-color: #d5d4d4;
    border-color: #9c9c9c;
}

/**
 * Styling the info "image"
 */

.krexx-backend .tooltip-text {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    z-index: 1;
    padding: 5px;
    min-width: 350px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.krexx-backend .tooltip-hover {
    vertical-align: middle;
    position: relative;
}

.krexx-backend .tooltip-hover:hover .tooltip-text {
    display: block;
}

.info {
    border: #6BABE0 3px solid;
    border-radius: 15px;
    height: 18px;
    width: 18px;
    background-color: #89bce6;
    cursor: help;
}

.info b {
    font-size: 15px;
    margin: 7px;
    line-height: 18px;
    color: #fff;
}

.info:hover {
    opacity: 0.8;
}

/**
 * Styling the delete "image"
 */

td .delete {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    width: 30px;
    height: 32px;
    background: url("../Icons/delete.png") no-repeat center #dedede;
}

td .delete:hover {
    background-color: #c4c4c4;
    border-color: #a6a6a6;
}

/**
 * Styling for the kreXX logo
 */
.krexx-icon {
    background-image: url(../Icons/Extension.svg);
    height: 12px;
    width: 12px;
    margin-top: 2px;
    margin-left: 5px;
}