<f:layout name="Backend"/>
<f:section name="main">
  <p>
    <h1>Configuration</h1>
    kreXX is already preconfigured, you don't have to cofigure it. But there are always moments when you want to change it. There are 3 levels of configuration:
  </p>
  <p>
    <b>1.) Factory settings</b><br/>
    The factory settings are hardcoded fallback settings.
  </p>
  <p>
    <b>2.) Configuration file Krexx.ini</b><br/>
    The configuration file settings are stored in the file Krexx.ini. kreXX shows in it's output footer where it is searching for this file. In typo3 this is normally:
    <div class="codeblock"><pre><code>uploads/tx_includekrexx/Krexx.ini</code></pre></div>
    You can edit these settings <a class="krexx-link" href="{f:uri.action(action:'editConfig')}">here</a>.<br />
    Configuration file settings overwrite factory settings.
  </p>
  <p>
    <b>3.) Local browser settings</b><br/>
    You can edit the local browser settings on the fly in the footer of the kreXX output. They are stored in a cookie, and only affect your current browser. Unlike the configuration file, not all settings can be edited there.<br/>
    Local browser settings overwrite configuration file settings.<br/>
    <f:image src="{f:uri.resource(path:'Images/local_conf.png')}" alt="Local browser configuration screenshot" /><br/>
    <b>Please note, that these are only local settings, only affecting your current browser.</b>
  </p>
  <h4>kreXX on the web</h4>
  <a class="krexx-link" target="_blank" href="http://docs.typo3.org/typo3cms/extensions/includekrexx/">Documentation at Typo3 Docs</a><br/>
  <a class="krexx-link" target="_blank" href="http://sourceforge.net/p/krexx/wiki/Overview/">Documentation at sourceforge</a><br/>
  <a class="krexx-link" target="_blank" href=http://typo3.org/extensions/repository/view/includekrexx>Typo3 TER</a><br/>
  <a class="krexx-link" target="_blank" href=http://www.magentocommerce.com/magento-connect/include-krexx.html>Magento Connect</a> 
</f:section>