<f:layout name="Backend"/>
<f:section name="main">
  <p>
    <h1>Edit local browser settings</h1>
    Here you can edit the local browser settings. They are stored in a cookie, and only affect your current browser. Unlike the configuration file, not all settings can be edited here by default. This can be changed in the <i>Edit FE configuration</i> menu. Local browser settings overwrite configuration file settings.<br/><br/>
    <b>Please note, that these settings only affect your current browser!</b>
  </p>
</f:section>